# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

#Model  weights
*.pt
*.pth

# Logs
*.log

# Experiment outputs
work_dirs/
runs/
outputs/


data/
artifacts/
checkpoints/
wandb/
.ipynb_checkpoints/